[type=email], [type=password], [type=text], select, textarea {
	background-color: transparent;
	background-image: none;
	border: none;
	box-sizing: inherit;
	display: inline-block;
	color: inherit;
	font-style: inherit;
	font-variant-ligatures: inherit;
	font-variant-caps: inherit;
	font-variant-numeric: inherit;
	font-variant-east-asian: inherit;
	font-weight: inherit;
	font-stretch: inherit;
	font-size: 100%;
	line-height: inherit;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	width: 100%;
}
