.icon--menu {
  -webkit-mask-image: url(../../assets/icons/menu.svg);
  mask-image: url(../../assets/icons/menu.svg);
}

.icon--account-cancel-outline {
  -webkit-mask-image: url(../../assets/icons/account-cancel-outline.svg);
  mask-image: url(../../assets/icons/account-cancel-outline.svg);
}

.icon--account-check {
  -webkit-mask-image: url(../../assets/icons/account-check.svg);
  mask-image: url(../../assets/icons/account-check.svg);
}

.icon--arrow-left {
  -webkit-mask-image: url(../../assets/icons/arrow-left.svg);
  mask-image: url(../../assets/icons/arrow-left.svg);
}

.icon--weather-night {
  -webkit-mask-image: url(../../assets/icons/weather-night.svg);
  mask-image: url(../../assets/icons/weather-night.svg);
}

.icon--play {
  -webkit-mask-image: url(../../assets/icons/play.svg);
  mask-image: url(../../assets/icons/play.svg);
}

.icon--stop {
  -webkit-mask-image: url(../../assets/icons/stop.svg);
  mask-image: url(../../assets/icons/stop.svg);
}

.icon--undo {
  -webkit-mask-image: url(../../assets/icons/undo.svg);
  mask-image: url(../../assets/icons/undo.svg);
  -webkit-mask-size: 70%;
  mask-size: 70%;
}

.icon--numeric-0 {
  -webkit-mask-image: url(../../assets/icons/numeric-0.svg);
  mask-image: url(../../assets/icons/numeric-0.svg);
}

.icon--numeric-1 {
  -webkit-mask-image: url(../../assets/icons/numeric-1.svg);
  mask-image: url(../../assets/icons/numeric-1.svg);
}

.icon--volume-high {
  -webkit-mask-image: url(../../assets/icons/volume-high.svg);
  mask-image: url(../../assets/icons/volume-high.svg);
}
